body 
{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    font-size: 1em;
    padding: 0px;
    background-color:cadetblue;    
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

h1, h2, h3, h4
{
    font-style: italic;
    letter-spacing: 0.4em;
}

header{
    text-align: center;
}

nav {
    margin: 0 auto;
    text-align: center;
    background-color: rgb(5, 46, 5);
    height: 70px;
}

nav ul {
    display: inline-flex;
}

nav ul li {
    list-style: none;
    width: 300px;
}

nav ul li a {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(171, 196, 171);
}

section {
    margin-left: 50px;
    margin-right: 50px;
}

section h1 {
    padding-top: 50px;
    font-size: 2em;
}

form input {
    width: 400px;
    height: 20px;
}

form select {
    width: 400px;
    height: 20px;
}

.button {
    font-size: 1em;
    padding-bottom: 25px;
    padding-top: 5px;
    background-color: rgb(0, 56, 0);
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

legend {
    font-size: 1.5em;
}



footer {
    background-color: black;
    height: 60px;
}

footer p {
    color: white;
    padding-top: 17px;
    padding-left: 20px;
    font-size: 1.4em;
}